.tb{
    padding-top: 160PX;
    padding-left: 250px;
}
.wid{
    width:fit-content;
}
p{
    font-size: large;
    font-weight: bold
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.tc1{
    padding-top: 180px;
    width: max-content;

}
.tc2{
    padding-top: 180px;
    padding-left: 650px;
    width: max-content;

}
.tc3{
    padding-top: 180px;
    padding-left: 650px;
    width: max-content;
}
